{{ define "admin-users.html" }}
  {{ template "base" . }}
{{ end }}

{{ define "title" }}Manage Users{{ end }}

{{ define "nav-actions" }}
<a href="/admin/users/new" class="bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600">+ Add New User</a>
{{ end }}

{{ define "content" }}
<div class="flex items-center gap-4">

  {{ range .Users }}

    <div class="flex items-center p-4 rounded bg-gray-800 hover:bg-gray-700 text-white">

    <span class="w-12 text-sm font-mono text-gray-400 mr-4">#{{ .ID }}</span>

    <img src="/static/uploads/{{ if .PhotoPath }}{{ .PhotoPath }}{{ else }}Profile-blue.256.png{{ end }}"
    class="w-12 h-12 rounded-full cursor-pointer"
    onclick="window.location.href='/admin/users/show-photo/{{ .ID }}'">

    <!--
    <img src="{{ if .PhotoPath }}/static/uploads/{{ .PhotoPath }}{{ else }}/static/uploads/Profile-blue.256.png{{ end }}"
      alt="{{ .FullName }}'s photo"
      class="w-12 h-12 rounded-lg object-cover border ml-1 mr-4">
    -->

    <a href="/admin/users/edit/{{ .ID }}" class="text-lg font-semibold text-indigo-400 hover:underline">
            {{ if .FullName }}{{ .FullName }}{{ else }}Unnamed User{{ end }}
        </a>
    </div>

  {{ end }}

</div>
{{ end }}
